<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="renameModal" class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameModalLabel">Rename File/Folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="renameForm" th:action="@{/data/rename}" th:method="patch">
                <div class="modal-body mb-3">
                    <label for="currentFileName" class="form-label">Current Name</label>
                    <input type="text" class="form-control" id="currentFileName" name="name" th:value="${param.name}" readonly />
                    <input type="hidden" name="parentPath" th:value="${param.parentPath}" />
                    <input type="hidden" name="isFolder" th:value="${param.isFolder}" />

                    <label for="newFileName" class="form-label mt-3">New Name</label>
                    <input type="text" class="form-control" id="newFileName" name="newName" th:value="${param.newName}" required />
                </div>

                <div class="modal-footer bg-light w-100 m-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Rename</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>