<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">uCloud</a>
        <div class="d-flex align-items-center">
            <span class="navbar-text me-3" sec:authentication="name">Username</span>
            <form th:action="@{/signout}" method="post">
                <button class="btn btn-outline-secondary btn-sm" type="submit">Sign out</button>
            </form>
        </div>
    </div>
</nav>

</body>
</html>